@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Red Hat Display", sans-serif;
    padding:0;
    margin:0;
}

body{
    background-color: #f5f5f5;
}

header,ul{
    display:flex;
    flex-direction: row;
    gap: 80px;
    align-items:center;
}

#search{
    display: flex;
    align-items: center;
    gap: 10px;
}

#search input{
    border: solid #000 3px;
    border-radius: 10px;
}

#search button{
    border: none;
    width:43px;
    height:43px;
    background: none;
}
ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

li a:hover{
    color: #f5f5f5;
    background-color: hsl(251, 37%, 43%);
}

header input,button{
    height: 40px;
}

button img{
    width: 30px;
    height:30px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
}

#logo{
    width:50px;
    height:50px;
    margin-left: 20px;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #fff;
}

input{
    padding: 0 0 0 0;
    margin: 0;
}
#search button{
    padding: 0;
}

#introducao{
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    min-height: 50vh;
    background-image: url("/assets/images/background.jpg");
    color:#fff;
    margin:0 0 100px 0;
}

#introducao p {
    font-size: 20px;
}

#noticias{
    text-indent:45%;
    margin-bottom: 5%;
}

#conteudo article img{
    width: 80%;
    height: 50%;
}

#conteudo {
    display: flex;
    justify-content:space-evenly ;
}

#conteudo article{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:22%;
    padding: 25px;
    border-radius: 20px;
    gap:10px;
}

#conteudo article a{
    padding: 10px;
    border-radius: 10px;
}

#conteudo article a:hover{
    color: #f5f5f5;
    background-color: hsl(251, 37%, 43%);
}

article{
    background-color: #fff;
}

#conteudo article p{
    word-break: normal;
}

#videos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly   ;
    margin:10% 0 3% 0;
    background-color: rgb(46, 46, 122);
    gap: 20%;
    height: 70vh;
    color: #fff;
}

#videos h2{
    font-size: 60px;
    margin-bottom: 20px;
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    inline-size: min-content;
    background-color: rgb(31, 31, 100);
    padding: 50px;
    border-radius: 30px;
}

#especialistas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#especialistas article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    padding: 40px 10px 60px 10px;
    border-radius: 30px;
}

#especialistas article img{
    border-radius:100px;
    margin-bottom: 10px;
}

#contato{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% 0 5% 0;
    color: #fff;
    background-color: rgb(31, 31, 100);
    padding: 100px 0 100px 0;

}
#contato h2{
    font-size: 50px;
}
#contato label{
    font-size:20px;
}

#contato form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#contato form div{
    display: flex;
    flex-direction: row;
    gap:10px;
}

#contato input,textarea{
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
}

#contato input[type="submit"]:hover, input[type="reset"]:hover{
    cursor:pointer;
    color:#fff;
    background-color: rgb(91, 35, 105);
    
}

@media screen and (max-width:1280px) {
    
}

@media screen and (max-width:780px) {
    
}

@media screen and (max-width:480px) {
    
}